body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content:center;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              
                background: rgb(0, 60, 255);
                text-decoration:line-through;
                &:hover {
                   background: rgba(0, 60, 255, 0.459);
                }
                cursor:pointer;
            }
            &.complete-false {
              
                background: rgb(255, 0, 0);
                &:hover {
                   background: rgba(255, 0, 0, 0.459);
                }
                cursor:pointer;
            }

            span {
                background: #ffffff00;
                cursor:pointer;
                
            }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}
header{
    h1{
        background-color: rgb(83, 83, 255);
        color: #eee;
        padding: 20px;
    }
    nav{
        width: 90%;
        background-color: black;
        margin: 0 auto;
        h2{
            color: #eee;
            padding: 10px;
        }
    }

}
// .todo{
//     margin:auto;
// }
.cards{
    width: 400px;
    margin-left: 30px;
}
.form{
    border: 1px solid lightgrey;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-right: 30px;
    height: 350px;
}
#edit{
    width: 170px;
    position: relative;
    left: 50%;
    margin-left: -313px;
    bottom: 150px;
}
.is{
    margin-right: 30px;
}
.page-link{
    padding: .5rem .75rem;
    width: fit-content;
}